/* =========================
   Base
========================= */

* {
  box-sizing: border-box;
}

/* =========================
   Container
========================= */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* =========================
   Header
========================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: #fff;
}

.headerContent {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  min-height: 90px;
}

.navMenu {
  display: flex;
  justify-self: end;
  gap: 60px;
}

.navMenu a {
  color: #35414b;
  text-decoration: none;
}


/* =========================
   Hero
========================= */

.hero {
  position: relative;

  margin: 0;
  height: 600px;

  background: #cedab2;
}

.heroContent {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
}

.heroLeaf {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.heroLeaf img {
  display: block;
}

.heroInfo {
  display: grid;
  gap: 25px;
  max-width: 450px;
}

.heroInfo h1 {
  margin: 0;

  font-size: 96px;
}

.heroInfo p {
  margin: 0;

  font-size: 28px;
}

.heroImage {
  align-self: end;
}

.heroImage img {
  display: block;
  width: 100%;
}
